:root {
  --primary-color: #112d4e;
  --secondary-color: #dbe2ef;
  --highlight-color: #3f72af;
  --light-color: #f9f7f7;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --transition: all 150ms ease-in-out;
}

body {
  margin: 50px auto;
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 96px;
  font-family: "Graduate", cursive;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
  overflow: hidden;
  border-right: 3px solid transparent;
  margin: 0 auto;
  white-space: nowrap;
  letter-spacing: 2px;
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end 5;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  100% {
    border-color: transparent;
  }
  50% {
    border-color: var(--primary-color);
  }
}

.hero {
  background: var(--secondary-color);
  padding: 60px 100px 200px 150px;
}

.navigation-links a {
  border-radius: 4px;
  padding: 20px 25px;
  text-decoration: none;
}

.about-link,
.work-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: var(--light-color);
  transition: var(--transition);
}

.about-link:hover,
.work-link:hover {
  color: var(--light-color);
  opacity: 0.8;
}

.contact-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  transition: var(--transition);
}

.contact-link:hover {
  font-weight: bold;
  color: var(--primary-color);
}

.welcome {
  margin: 50px 230px;
  text-align: justify;
}

.welcome a {
  color: var(--primary-color);
  text-decoration: none;
  font-style: italic;
}

.welcome a:hover {
  text-decoration: underline;
}

@media (max-width: 1100px) {
  .hero {
    padding: 60px 0 200px 100px;
  }
  .emoji-heindrikje {
    display: none;
  }
}

@media (max-width: 868px) {
  h1 {
    font-size: 72px;
  }
  h2 {
    font-size: 36px;
  }
  h3 {
    font-size: 18px;
  }
  .navigation-links a {
    padding: 15px 15px;
  }
  .hero {
    padding: 60px 0 150px 100px;
  }
}

@media (max-width: 750px) {
  .hero {
    padding: 60px 0 100px 80px;
  }
}

@media (max-width: 576px) {
  h1,
  h2,
  h3,
  .navigation-links {
    text-align: center;
  }
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 16px;
  }
  .hero {
    padding: 60px 30px 100px 30px;
  }
}
