:root {
  --primary-color: #112d4e;
  --secondary-color: #d4e1f8;
  --highlight-color: #3f72af;
  --light-color: #f8f9fa;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --transition: all 150ms ease-in-out;
}

body {
  margin: 50px auto 0 auto;
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 96px;
  font-family: "Graduate", cursive;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

.animated-h3 {
  overflow: hidden;
  border-right: 2px solid transparent;
  margin: 0 auto;
  white-space: nowrap;
  letter-spacing: 2px;
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end 5;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  100% {
    border-color: transparent;
  }
  50% {
    border-color: var(--primary-color);
  }
}

footer {
  font-size: 13px;
  text-align: center;
  margin-top: 30px;
  background: var(--light-color);
  padding: 10px;
}

.navbar {
  padding: 3px;
}

.logo-portfolio {
  width: 160px;
}

.nav-link {
  font-size: 18px;
  font-weight: 450;
  margin-right: 10px;
  display: inline-block;
  position: relative;
}

.nav-link:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--highlight-color);
  transform-origin: bottom right;
  transition: transform 0.2s ease-out;
}

.nav-link:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.hero {
  background: var(--secondary-color);
  padding: 80px 100px 200px 150px;
}

.hero-about {
  background: var(--secondary-color);
  padding: 80px 100px;
}

.navigation-links a {
  border-radius: 4px;
  padding: 20px 25px;
  text-decoration: none;
}

.about-link,
.work-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: var(--light-color);
}

.about-link:hover,
.work-link:hover {
  color: var(--light-color);
  opacity: 0.8;
}

.contact-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  transition: var(--transition);
}

.contact-link:hover {
  text-shadow: 0 0 0.1px var(--primary-color);
  color: var(--primary-color);
  background: #e1e6f1;
}

.welcome {
  margin: 50px auto;
  padding: 0 60px;
  max-width: 900px;
  text-align: justify;
  font-size: 20px;
  line-height: 2;
}

.welcome::first-letter {
  font-size: 2em;
  line-height: 0;
}

.welcome a {
  color: var(--primary-color);
  text-decoration: none;
  font-family: "Graduate", cursive;
  transition: var(--transition);
}

.welcome a:hover {
  text-decoration: underline;
}

.short-description {
  font-size: 20px;
  line-height: 2;
}

.portrait {
  max-width: 400px;
  margin-left: 80px;
}

.learn-more {
  color: black;
  opacity: 0.8;
}

.learn-more:hover {
  color: var(--primary-color);
}

#thats-me {
  scroll-margin-top: 90px;
}

.about-me-header {
  font-size: 24px;
  font-weight: bold;
  font-family: "Graduate", cursive;
}

.thats-me-paragraph {
  text-align: justify;
  line-height: 1.7;
}

.thats-me-paragraph::first-letter {
  font-size: 2em;
  line-height: 0;
}

.check-out-link {
  text-decoration: none;
  color: black;
}

.check-out-link:hover {
  color: var(--highlight-color);
}

.skill-icon {
  font-size: 60px;
  color: var(--highlight-color);
}

.skill-name {
  padding-top: 10px;
  font-size: 16px;
  text-align: center;
}

.connect-row {
  padding: 0 100px;
}

.connect-row a {
  text-decoration: none;
  color: var(--primary-color);
  transition: var(--transition);
}

.connect-row a:hover {
  font-weight: bold;
  color: var(--primary-color);
}

.linkedin,
.github,
.email {
  font-size: 28px;
  color: var(--highlight-color);
}

@media (max-width: 1100px) {
  .hero {
    padding: 80px 0 200px 100px;
  }
  .emoji-heindrikje {
    display: none;
  }
  .hero-about {
    padding-left: 80px;
  }
  .portrait {
    width: 330px;
  }
}

@media (max-width: 868px) {
  h1 {
    font-size: 72px;
  }
  h2 {
    font-size: 36px;
  }
  h3 {
    font-size: 18px;
  }
  .logo-portfolio {
    width: 130px;
  }
  .nav-link {
    font-size: 15px;
  }
  .hero {
    padding: 80px 0 150px 100px;
  }
  .navigation-links a {
    padding: 15px 15px;
  }
  .welcome {
    line-height: 1.7;
    font-size: 18px;
    padding: 0 90px;
  }
  .hero-about {
    padding: 80px 50px;
  }
  .short-description {
    font-size: 16px;
  }
  .portrait {
    width: 250px;
    margin-left: 60px;
  }
  .skill-icon {
    font-size: 48px;
  }
  .skill-name {
    font-size: 14px;
  }
}

@media (max-width: 630px) {
  h1,
  h2,
  h3,
  .navigation-links,
  .short-description {
    text-align: center;
  }
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 16px;
  }
  footer {
    font-size: 11px;
  }
  .hero,
  .hero-about {
    padding: 60px 30px 100px 30px;
  }
  .welcome {
    line-height: 1.5;
    font-size: 14px;
  }
  .learn-more {
    display: none;
  }
  .work-link {
    display: none;
  }
  .portrait {
    width: 180px;
    margin-left: 45px;
  }
  .about-me-header {
    font-size: 18px;
  }
  .thats-me-paragraph {
    line-height: 1.5;
    font-size: 14px;
  }
  .skill-icon {
    font-size: 38px;
  }
  .skill-name {
    font-size: 12px;
  }
  .linkedin,
  .github,
  .email {
    font-size: 20px;
  }
}
