:root {
  --primary-color: #112d4e;
  --highlight-color: #3f72af;
  --light-color: #f8f9fa;
  --transition: all 150ms ease-in-out;
  --highlight-font: "Graduate", cursive;
}

body {
  margin: 50px auto 0 auto;
  font-family: "Montserrat", sans-serif;
}

.content {
  min-height: calc(100vh - 40px);
}

nav.navbar {
  padding: 3px;
}

nav img.logo-portfolio {
  width: 160px;
}

section.hero {
  background: #d4e1f8;
  padding: 100px 100px 130px 130px;
}

h1 {
  font-size: 96px;
  font-family: var(--highlight-font);
}

h2.animated-header {
  font-size: 24px;
  opacity: 0.7;
  overflow: hidden;
  border-right: 2px solid transparent;
  margin: 0 auto;
  white-space: nowrap;
  letter-spacing: 2px;
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end 5;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  100% {
    border-color: transparent;
  }
  50% {
    border-color: var(--primary-color);
  }
}

h3 {
  font-size: 30px;
  font-family: var(--highlight-font);
  color: var(--primary-color);
  text-align: center;
  margin: 25px auto;
}

h4 {
  font-size: 28px;
  font-weight: bold;
  font-family: var(--highlight-font);
}

p.welcome,
p.sub-header {
  font-size: 20px;
  line-height: 2;
}

p.welcome,
p.thats-me-paragraph,
p.showcase-text {
  text-align: justify;
}

p.welcome {
  margin: 50px auto;
  padding: 0 100px;
  max-width: 900px;
}

p.welcome::first-letter,
p.thats-me-paragraph::first-letter {
  font-size: 2em;
  line-height: 0;
}

p.welcome a,
a.check-out-link {
  color: var(--primary-color);
  text-decoration: none;
  font-family: var(--highlight-font);
}

p.welcome a:hover,
a.check-out-link:hover,
a.showcase-link {
  color: var(--highlight-color);
}

img.portrait {
  max-width: 350px;
  margin: 20px 0 0 80px;
  border-radius: 15px;
}

a.learn-more {
  color: black;
  opacity: 0.8;
}

a.learn-more:hover,
a.showcase-link:hover {
  color: var(--primary-color);
}

p.thats-me-paragraph {
  line-height: 1.7;
}

p.showcase-text {
  font-size: 14px;
}

i.linkedin,
i.github,
i.email {
  font-size: 18px;
  color: var(--highlight-color);
  background: var(--light-color);
  padding: 10px 11px;
  margin: 0 10px;
  border-radius: 50%;
  transition: var(--transition);
}

i.linkedin:hover,
i.github:hover,
i.email:hover {
  color: var(--light-color);
  background: var(--highlight-color);
}

footer {
  font-size: 13px;
  text-align: center;
  margin-top: 30px;
  background: var(--light-color);
  padding: 10px;
}

.nav-link {
  font-size: 18px;
  font-weight: 450;
  margin-right: 10px;
  display: inline-block;
  position: relative;
}

.nav-link:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--highlight-color);
  transform-origin: bottom right;
  transition: transform 0.2s ease-out;
}

.nav-link:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.hi-header {
  font-size: 46px;
}

.navigation-links a,
.submit-button {
  border-radius: 4px;
  transition: var(--transition);
}

.navigation-links a {
  padding: 20px 25px;
  text-decoration: none;
}

.about-link,
.work-link,
.submit-button {
  background: var(--primary-color);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  color: var(--light-color);
}

.work-link {
  margin-right: 12px;
}

.submit-button {
  border-color: transparent;
  padding: 10px 15px;
}

.about-link:hover,
.work-link:hover,
.submit-button:hover {
  color: var(--light-color);
  opacity: 0.8;
}

.contact-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.contact-link:hover {
  text-shadow: 0 0 0.1px var(--primary-color);
  color: var(--primary-color);
  background: #e1e6f1;
}

#thats-me {
  scroll-margin-top: 90px;
}

.skill-icon {
  font-size: 60px;
  color: var(--highlight-color);
}

.skill-name {
  padding-top: 10px;
  font-size: 16px;
  text-align: center;
  color: var(--primary-color);
}

.weather-react-image {
  margin-bottom: 60%;
  background: url("/images/weather-react-light.png") no-repeat;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background-size: 100%;
  transition: var(--transition);
}

.weather-react-image:hover {
  background: url("/images/weather-react-dark.png") no-repeat;
  background-size: 100%;
}

.landing-page-image {
  margin-bottom: 110%;
  background: url("/images/table-tennis.png") no-repeat;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background-size: 100%;
  transition: var(--transition);
}

.landing-page-image:hover {
  background: url("/images/old-books.png") no-repeat;
  background-size: 100%;
}

.form-label {
  background-color: var(--light-color);
  color: var(--primary-color);
}

@media (max-width: 1100px) {
  section.hero {
    padding: 80px 80px 100px 100px;
  }
  img.emoji-heindrikje {
    display: none;
  }
  img.portrait {
    width: 300px;
    margin-top: 15px;
  }
}

@media (max-width: 868px) {
  h1 {
    font-size: 72px;
  }
  h2.animated-header {
    font-size: 18px;
  }
  nav img.logo-portfolio {
    width: 130px;
  }
  p.welcome,
  p.sub-header,
  .nav-link {
    line-height: 1.7;
    font-size: 16px;
  }
  img.portrait {
    width: 200px;
    margin-left: 50px;
  }
  p.showcase-text {
    font-size: 12px;
  }
  .hi-header {
    font-size: 34px;
  }
  .navigation-links a {
    padding: 15px 15px;
  }
  .work-link {
    margin-right: 8px;
  }
  .skill-icon {
    font-size: 48px;
  }
  .skill-name,
  .showcase-link {
    font-size: 14px;
  }
}

@media (max-width: 640px) {
  section.hero {
    padding: 60px 30px 100px 30px;
  }
  h1,
  h2.animated-header,
  p.sub-header,
  .navigation-links,
  .hi-header {
    text-align: center;
  }
  h1 {
    font-size: 48px;
  }
  h2.animated-header {
    font-size: 16px;
  }
  h3,
  h4 {
    font-size: 20px;
  }
  p.welcome,
  p.thats-me-paragraph {
    line-height: 1.5;
    font-size: 14px;
  }
  footer,
  .skill-name {
    font-size: 11px;
  }
  .hi-header {
    font-size: 26px;
  }
  a.learn-more,
  p.showcase-text,
  .work-link {
    display: none;
  }
  img.portrait {
    width: 170px;
    margin: 10px 0 0 45px;
  }
  .skill-icon {
    font-size: 38px;
  }
}

@media (max-width: 576px) {
  nav img.logo-portfolio {
    width: 100px;
  }
  h2.animated-header {
    font-size: 13px;
    letter-spacing: 0.65px;
  }
  p.welcome,
  p.thats-me-paragraph {
    text-align: center;
  }
  p.welcome {
    padding: 0 50px;
  }
  img.portrait {
    width: 120px;
    border-radius: 8px;
  }
}

@media (max-width: 380px) {
  section.hero {
    padding: 60px 5px 80px 5px;
  }
  h1 {
    font-size: 38px;
  }
  h2.animated-header {
    font-size: 10.5px;
  }
  .navigation-links a {
    padding: 10px 10px;
    font-size: 12px;
  }
}
